*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body{
background-image: url(https://wallpapers.com/images/hd/professional-background-4b31fgiuezafrguu.jpg);
 background-repeat: no-repeat;
 background-size: auto;
} */
.container{
 display: flex;

 justify-content: center;
 margin-top: 50px;
 height: 400px;



 
}
.sectionForm {
  /* background-color: red; */
 width: 350px;
 height: 500px;
 align-items: center;
 justify-content: center;


}
.log{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  font-size: 40px;
  font-weight: 300px;
  font-style: normal;

}
.inputSection{
  align-items: center;
  justify-content: center;

}
.inputText{
  align-items: center;
  /* justify-content: center; */
  /* display: flex; */
  width: 350px;
  padding: 20px;
 border-radius: 4px;
 border: none;
 background-color: rgb(232,232,232);
 gap: 30px;
margin-top: 10px;
font-size: 15px;
font-weight: 300;

}
.submitButton{
  align-items: center;
  /* justify-content: center; */
  /* display: flex; */
  width: 350px;
  padding: 20px;
 border-radius: 4px;
 border: none;
 background-color: rgb(211,63,143);
 gap: 30px;
margin-top: 10px;
font-size: 15px;
font-weight: 300;
}
.optionalSection{
  margin-top: 10px;
}
